<div *ngIf="canRead()">
    <div class="container mt-5 bg-light p-2">
        <h2>{{config.model.toUpperCase()}} SEARCH</h2>
        <app-detail [config]="config" (result)="onSearch($event)">
        </app-detail>
        <app-button class="mt-3" label='Search' (click)="onSearchClick()"></app-button>
    </div>
    <div class="container mt-5 bg-light p-2" *ngIf="tableValues.length > 0">
        <h2>SEARCH RESULTS</h2>
        <app-table  [values]="tableValues"
            (onSelectedItem)="onItemSelect($event)"></app-table>
    </div>
    <div class="container mt-5 bg-light p-2" *ngIf="selectedObject !== undefined">
        <h2>DETAILS</h2>
        <app-detail (result)="onResult($event)" [config]="config"
            [inputObject]="selectedObject">
        </app-detail>
        <div class="mt-3">
            <span><app-button label='Create' (click)="onCreate()" *ngIf="canAdd()"></app-button></span>
            <span class="ms-2"><app-button label="Update" (click)="onUpdate()" *ngIf="canUpdate()"></app-button></span>
            <span class="ms-2"><app-button label="Delete" (click)="onDelete()" *ngIf="canRemove()"></app-button></span>
        </div>
    </div>
</div>